@media screen {
    body {
        width: 75%;

    }
}

* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}


body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #70F5C4;
}

#welcome-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin-top: 90px;
}

#navbar {
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

h1 {
    font-family: 'Spectral', serif;
    text-shadow: 2px 2px 8px #000000;
    color: white;
    Font-weight: bold;
    font-size: 50px;
}
 h2 {
     font-family: 'Spectral', serif;
     color:black;
     margin-top: 15px;;

 }

 .instructions {
     font-family: 'Spectral', serif;
     color: black;
     margin: 20px;
     border-style:solid;
     border-color:#E39E2D;
     border-width: 5px;
     background-color: white;
     border-radius: 25px;
    padding: 15px;

 }

#footer {
    width: 100vw;
    height: 5vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.characters {
  
}

