@media screen {
    body {
        width: 75%;
    }
}

* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}


body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#welcome-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin-top: 90px;
}

#navbar {
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

h1 {
    position: fixed;
    color: white;
    Font-weight: bold;
    font-size: 50px;
}
h2 {
    padding-top: 75px;
    font-weight: lighter;
    color: yellow;
    position: fixed;
    font-size: 16px;
}


#footer {
    width: 100vw;
    height: 5vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.people {
  
}

